html * {
    box-sizing: border-box;
}

body {
    font-family: "Noto Serif", serif;
}

/* 
*   Global styles
*/

p {
    font-size: 16px;
    margin: 0 auto;
}

h1,
h2 {
    margin: 10px auto;
}

h1 {
    font-size: 2.2em;
}

/*
*   Additional styles
*/

.red {
    color: rgb(199, 0, 0);
}

.italic {
    font-style: italic;
}

/* 
*   Wrapper
*/

.wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0 13%;
}

/* 
*   Main Header
*/
header {
    position: relative;
    text-align: center;
}

header span {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    right: 0px;
    top: 0px;
}

/*
*   Figure block
*/
figure,
aside {
    position: absolute;
    left: 50%;
}

figure {
    text-align: center;
    top: 180px;
    margin: 0;
    margin-left: -250px;
}

figure img {
    width: 480px;
    border-radius: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

figure img:hover {
    transition: all 0.5s ease;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

/*
*   Main article block
*/

main {
    border-top: 1px dotted rgb(199, 0, 0);
}

main header {
    margin-bottom: 20px;
}

article > header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

main::after,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*
*   Initial layout based on floats
*/

.left-top,
.right-top,
.right-bottom,
.left-bottom {
    width: 49%;
}

section {
    float: left;
}

.left-top,
.left-bottom {
    float: left;
}

.right-top,
.right-bottom {
    float: right;
}

.left-top:before,
.left-bottom::before {
    float: right;
}
.right-top:before,
.right-bottom::before {
    float: left;
}

.left-top:before,
.right-top:before {
    content: "";
    width: 240px;
    height: 440px;
}

.left-top:before {
    width: 255px;
}

.left-bottom:before,
.right-bottom:before {
    content: "";
    width: 270px;
    height: 600px;
}

/*
*   Aside
*/

aside {
    padding: 0 15px 15px;
    top: 50%;
    background-color: rgb(255, 233, 233);
    margin-top: -10px;
    margin-left: -272px;
    width: 540px;
}

/* 
*   Footer
*/

footer {
    display: flex;
    align-items: center;
    height: 50px;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

footer > span {
    width: 100%;
    padding: 10px 0;
    display: inline-block;
    text-align: right;
    transition: all 3s ease-out;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -ms-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
}

footer:hover span {
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    padding: 10px;
    width: 255px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

footer:hover span::before {
    content: "\2190";
}

/*
*   Responsive
*/
@media screen and (max-width: 1200px) {
    main article {
        display: flex;
        flex-direction: column;
    }

    .left-top,
    .right-top,
    .right-bottom,
    .left-bottom {
        width: 100%;
    }

    .left-top:before,
    .right-top:before,
    .left-bottom:before,
    .right-bottom:before {
        content: none;
    }
    figure,
    aside {
        position: static;
        margin: 0;
        width: 100%;
    }
}
@media screen and (max-width: 1100px) {
    .wrapper {
        padding: 5%;
    }
}
@media screen and (max-width: 600px) {
    figure img {
        width: 100%;
    }

    h1 {
        font-size: 1.8em;
    }
}
@media screen and (max-width: 400px) {
    .wrapper > header {
        display: flex;
        align-items: center;
    }

    header span {
        position: static;
    }
}
